<% layout("/layouts/boilerplate") -%>
<body>
    
    <% for(p of posts) { %>
        <div class="div-posts">
            <p>Name : <%= p.name %></p>
            <p><b><%= p.content %></b></p>
            <form method="GET" action="/posts/<%= p.id %>">
                <button class="btns">Show</button>
            </form>
        </div>
    <% } %>
</body>
